---
import { Image } from "astro:assets";
import connect from "../assets/images/connect.jpg";
import ContentWrapper from "../components/ContentWrapper.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout headerBgColor="bg-transparent">
  <title slot="meta">Connect | Upheld Ministries</title>

  <ContentWrapper>
    <div class="mt-16 flex flex-col gap-x-32 gap-y-24 px-6 pb-20 md:mt-24 md:px-24 lg:flex-row">
      <div class="basis-[50%]">
        <Image
          src={connect}
          alt=""
          loading="eager"
          aria-hidden="true"
          class="size-full rounded-t-full object-cover object-center"
        />
      </div>

      <div class="flex w-full shrink-0 grow basis-[50%] flex-col justify-start">
        <div class="flex flex-col items-start overflow-hidden">
          <h1 class="font-orpheus text-5xl">Let's support each other</h1>
          <svg xmlns="http://www.w3.org/2000/svg" width="390" height="15" viewBox="0 0 390 15" class="max-w-[100dvw]">
            <path
              d="M 0 10 
               C 200 5 400 5 600 10 
               C 650 12 675 8 700 10"
              stroke="black"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"></path>
          </svg>
        </div>

        <form method="post" id="contactForm" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="clientId" value="136cf087-2d7e-4494-86b8-4aee13f0f3d0" />
          <div
            class="cf-turnstile"
            data-sitekey={import.meta.env.PUBLIC_CF_TURNSTILE_SITE_KEY}
            data-callback="javascriptCallback"
          >
          </div>
          <div class="flex flex-col gap-4">
            <div class="mt-4 flex gap-4">
              <label class="w-full">
                First Name <span class="text-base opacity-75">(required)</span>
                <input type="text" name="firstName" required maxlength={255} />
              </label>
              <label class="w-full">
                Last Name <span class="text-base opacity-75">(required)</span>
                <input type="text" name="lastName" required maxlength={255} />
              </label>
            </div>
            <label>
              Email <span class="text-base opacity-75">(required)</span>
              <input type="email" name="email" required maxlength={255} />
            </label>
            <label>
              Phone
              <input type="tel" name="phone" maxlength={15} />
            </label>
            <label>
              Tell us your story!
              <textarea name="story" rows="5" maxlength={1000}></textarea>
            </label>

            <fieldset class="flex flex-col gap-2">
              <legend class="mb-2 text-xl font-medium">What are you interested in?</legend>
              <label
                ><input type="checkbox" name="gatherRetreatInfo" />Please send me an application for the Gather Retreat</label
              >
              <label><input type="checkbox" name="localLunches" />I would like more information on Local Lunches</label>
              <label><input type="checkbox" name="lego4Life" />Please send me the address for Lego4Life</label>
              <label><input type="checkbox" name="raceForLilyGrace" />Help me sign up for the Race for Lily Grace</label
              >
              <label
                ><input type="checkbox" name="speakWithSomeoneFromUpheld" />I would like to speak with someone from
                Upheld</label
              >
              <label><input type="checkbox" name="volunteerWithUpheld" />I would like to volunteer with Upheld</label>
            </fieldset>
            <button
              type="submit"
              class="self-start rounded-md bg-brand-dark-grey px-12 py-4 font-serif text-xl text-white">Submit</button
            >
          </div>
        </form>
        <p id="formMessage" class="mt-4"></p>
      </div>
    </div>
  </ContentWrapper>
</Layout>

<style>
  label {
    @apply space-y-2;
  }
</style>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>

<script>
  const formEl = document.getElementById("contactForm") as HTMLFormElement;
  formEl.addEventListener("submit", async function (event) {
    event.preventDefault();
    const form = event.target as HTMLFormElement;
    const formData = new FormData(form);
    const messageElement = document.getElementById("formMessage") as HTMLParagraphElement;

    try {
      const response = await fetch(import.meta.env.PUBLIC_FORM_ENDPOINT, {
        method: formEl.method,
        body: JSON.stringify(Object.fromEntries(formData)),
        headers: {
          "Content-Type": "application/json",
        },
      });

      if (response.ok) {
        messageElement.textContent = "Form submitted successfully!";
        messageElement.className = "text-success mt-4";
        formEl.reset();
      } else {
        messageElement.textContent = "Form submission failed. Please try again.";
        messageElement.className = "text-danger mt-4";
      }
    } catch (error) {
      messageElement.textContent = "Form submission failed. Please try again.";
      messageElement.className = "text-danger mt-4";
    }
  });
</script>
