---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import hero from "../../src/assets/images/hero.jpg";
import Hero from "../components/Hero.astro";
import Quotes from "../components/Quotes.astro";
import SubHero from "../components/SubHero.astro";
import UpcomingEvent from "../components/UpcomingEvent.astro";
import Layout from "../layouts/Layout.astro";

type UpcomingEvent = {
  id: string | number;
  date: string;
  title: string;
  imgSrc: string | ImageMetadata;
  location: string;
};

const upcomingEvents: Array<UpcomingEvent> = [
  {
    id: "1",
    imgSrc:
      "https://images.squarespace-cdn.com/content/v1/662c031f0438617c740310de/9f24b3ce-c34f-4633-8a6c-4eedeb9d9b86/IMG_6566.JPG?format=300w",
    title: "Mom's Lunch",
    location: "Dallas, TX",
    date: "Februrary 10, 2025",
  },
  {
    id: "1",
    imgSrc:
      "https://images.squarespace-cdn.com/content/v1/662c031f0438617c740310de/81de2b18-59d1-44e4-a402-be1e9c1e53bd/IMG_6588.JPG?format=500w",
    title: "Gather Retreat",
    location: "Fort Worth, TX",
    date: "March 28-30, 2025",
  },
];
---

<Layout>
  <main class="relative flex size-full flex-col bg-white">
    <!-- HEADER -->
    <div class="z-10 flex h-28 shrink-0 items-center justify-between p-7 sm:px-14">
      <a href="/" class="z-10 font-orpheus text-lg font-light tracking-wide text-white md:text-3xl">Upheld Ministries</a
      >
      <nav class="hidden items-center gap-x-3 text-xl text-white md:flex" transition:name="navbar">
        <!-- TODO: this becomes a dropdown with two options -->
        <div class="group relative">
          <button>About</button>
          <div
            class="absolute top-8 hidden flex-col gap-2 whitespace-nowrap bg-brand-dark-grey px-3 py-4 group-hover:flex"
          >
            <a href="/our-story-and-vision">Our Story &amp; Vision</a>
            <a href="/our-leadership">Our Leadership</a>
          </div>
        </div>
        <a href="/services">Services</a>
        <a href="/connect">Connect</a>
        <a href="/events">Events</a>
      </nav>

      <a href="/donate" class="hidden rounded-md bg-brand-orange px-7 py-4 font-serif md:block">Donate</a>
    </div>

    <Hero />

    <!-- BACKGROUND IMAGE -->
    <div class="soft-round absolute inset-0 max-h-[calc(65dvh-112px)] overflow-hidden">
      <Image src={hero} alt="Hero image" class="h-full w-full object-cover object-center" />
      <div class="absolute inset-0 bg-[#313d41] opacity-60"></div>
    </div>

    <SubHero />

    <!-- UPCOMING EVENTS -->
    <section>
      <div class="flex flex-col items-center justify-evenly gap-10 px-6 py-24 lg:flex-row">
        <div class="flex flex-col items-center gap-y-10 lg:items-start">
          <h2 class="font-orpheus text-5xl font-bold">Upcoming Events</h2>
          <a href="/donate" class="block bg-brand-dark-grey px-7 py-4 font-serif text-white">View All</a>
        </div>

        <ul class="flex flex-wrap justify-center gap-10">
          {
            upcomingEvents.map((event) => (
              <li>
                <UpcomingEvent {...event} />
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <Quotes />
  </main>
</Layout>

<style>
  .soft-round {
    clip-path: ellipse(125% 100% at 50% -5%);
  }
</style>
