---
import Layout from "../layouts/Layout.astro";
---

<Layout headerBgColor="bg-brand-dark-grey">
  <!-- HERO -->
  <div class="grid place-items-center">
    <h1 class="font-orpheus text-[40px] text-white sm:text-6xl md:text-8xl">Encourage. Rest. Connect. Support.</h1>
  </div>
</Layout>
