---

---

<section class="bg-brand-blurple relative h-full max-h-[calc(60dvh-112px)] shrink-0">
  <h1
    class="font-orpheus absolute left-1/2 top-1/4 z-10 w-full -translate-x-1/2 -translate-y-1/4 px-6 text-center text-[40px] text-white sm:text-6xl md:text-8xl"
  >
    Caring for Caregivers.
  </h1>
</section>
