---
const quotes = [
  {
    author: "Nicole C.",
    body: "I have been yearning and praying for something like this, but never knew it could exist! The life long friendships and connections are undoubtedly priceless! The worship, the prayer, the fellowship in sisterhood… something I never knew I needed as much as I did and something that could fill my cup, and help me feel strong enough for my children again! I feel so blessed and overwhelmed with happiness again! Thank you thank you thank you!!",
  },
  {
    author: "Amy O.",
    body: "I had an amazing weekend at the Gather Retreat. I will forever be grateful for the time and space to step away from the caregiver life. Upheld Ministries relieved every burden I had for 2 days, including the burden of self-care. You made sure my body and soul had everything I needed to just rest.",
  },
  {
    author: "Tysa H.",
    body: "The Galveston (Gather) Retreat was such a turning point in my healing process.",
  },
];

import { setBasePath } from "@shoelace-style/shoelace/dist/utilities/base-path.js";
import ContentWrapper from "./ContentWrapper.astro";
setBasePath("/shoelace-assets/");
---

<section class="bg-brand-dark-teal px-6 pb-20 pt-10 text-brand-orange md:px-10">
  <ContentWrapper>
    <sl-carousel navigation mouse-dragging loop class="h-full" style="--aspect-ratio: unset;">
      <div
        slot="next-icon"
        class="grid aspect-square size-10 place-items-center rounded-full bg-brand-orange p-3 opacity-70 md:size-[60px]"
      >
        <sl-icon name="arrow-right" class="size-4 text-brand-dark-grey md:size-8"></sl-icon>
      </div>
      <div
        slot="previous-icon"
        class="grid aspect-square size-10 place-items-center rounded-full bg-brand-orange p-3 opacity-70 md:size-[60px]"
      >
        <sl-icon name="arrow-left" class="size-4 text-brand-dark-grey md:size-8"></sl-icon>
      </div>
      {
        quotes.map((quote) => (
          <sl-carousel-item class="">
            <div class="flex flex-col items-center gap-y-4">
              <p class="font-orpheus text-xl text-brand-orange md:text-4xl md:leading-normal">{quote.body}</p>
              <p class="font-serif text-[22px] leading-[36px] text-white">{quote.author}</p>
            </div>
          </sl-carousel-item>
        ))
      }
    </sl-carousel>
  </ContentWrapper>
</section>

<script>
  import "@shoelace-style/shoelace/dist/components/carousel-item/carousel-item.js";
  import "@shoelace-style/shoelace/dist/components/carousel/carousel.js";
</script>
