@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Orpheus";
    src: url("/fonts/Orpheus.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Orpheus Pro";
    src: url("https://db.onlinewebfonts.com/t/2aea0ac500c896188f9ad191c231029c.eot");
    src:
      url("https://db.onlinewebfonts.com/t/2aea0ac500c896188f9ad191c231029c.eot?#iefix") format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/2aea0ac500c896188f9ad191c231029c.woff2") format("woff2"),
      url("https://db.onlinewebfonts.com/t/2aea0ac500c896188f9ad191c231029c.woff") format("woff"),
      url("https://db.onlinewebfonts.com/t/2aea0ac500c896188f9ad191c231029c.ttf") format("truetype"),
      url("https://db.onlinewebfonts.com/t/2aea0ac500c896188f9ad191c231029c.svg#Orpheus Pro") format("svg");
    font-weight: 300;
  }

  p {
    @apply font-serif text-lg;
  }

  label {
    @apply select-none font-serif text-xl;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    @apply h-[54px];
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    @apply w-full rounded-none border border-[#A9A9A9] bg-[#FAFAFA] px-4 py-2 ring-offset-white focus:outline-none focus:ring-2 focus:ring-brand-dark-teal focus:ring-offset-2;
  }

  label:has(input[type="checkbox"]) {
    @apply flex items-center gap-x-2;
  }

  input[type="checkbox"] {
    @apply size-4 rounded-none border border-[#A9A9A9] bg-[#FAFAFA] text-brand-dark-grey;
  }
}
