---
import "@fontsource-variable/eb-garamond";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../global.css";

type Props = {
  headerBgColor: "bg-transparent" | "bg-brand-dark-grey";
};
const { headerBgColor = "bg-transparent" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:site_name" content="Upheld Ministries" />
    <meta property="og:title" content="Upheld Ministries" />
    <meta property="og:url" content="https://www.upheldministries.org" />
    <meta property="og:type" content="website" />
    <link
      rel="icon"
      type="image/x-icon"
      media="(prefers-color-scheme: dark)"
      href="https://images.squarespace-cdn.com/content/v1/662c031f0438617c740310de/2de1912d-d2b3-43bc-b8b4-64a740c56378/favicon.ico?format=100w"
    />
    <link
      rel="icon"
      type="image/x-icon"
      media="(prefers-color-scheme: light)"
      href="https://images.squarespace-cdn.com/content/v1/662c031f0438617c740310de/be502002-e12e-4426-95a1-806f448c7d39/favicon.ico?format=100w"
    />
    <title>Upheld Ministries</title>
    <ClientRouter />
  </head>
  <body class="flex h-full min-h-screen flex-col font-serif text-brand-dark-grey">
    <Header
      bgColor={headerBgColor}
      invertTextColor={["/our-leadership", "/connect", "/events"].includes(Astro.url.pathname)}
    />
    <main class="h-full grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
